body {
  font-family: "Open Sans";
  font-weight: 400;
  margin: 0;
}

.icon {
  width: 3.125rem;
}

footer {
  background-color: #fff0ed;
}

.topnav {
  padding: 20px;
  background-color: #fff0ed;
  display: flex;
  justify-content: space-between;
}
.topnav__icon {
  display: inline;
  margin: -10px 0px;
}
.topnav__title {
  display: inline;
  margin: 0px;
  font-size: 2.063rem;
  font-weight: 100;
  text-align: start;
}
.topnav__list {
  display: inline;
}
.topnav__item {
  display: inline;
  list-style: none;
  margin: 20px;
  text-transform: uppercase;
}
.topnav__item_anchor {
  text-decoration: none;
  color: #393939;
}
.topnav__item_anchor--active {
  color: #5bacc3;
}
.topnav__active {
  color: #5bacc3;
}
ul .topnav__list {
  display: flex;
  justify-content: end;
}
