.hero {
  background-color: #fff0ed;
  display: flex;
  align-items: center;
  padding-bottom: 40px;
}

.hero__container {
  margin-left: auto;
}

.hero__title {
  font-size: 3rem;
  margin: 0px;
  padding: 0px 100px;
}

.hero__img {
  margin-left: auto;
  display: block;
  margin-right: 200px;
}

h1 {
  font-weight: 100;
  margin-top: 0px;
}

.button {
  color: #ffffff;
  background-color: #5bacc3;
  border: 0px;
  padding: 15px;
  margin: 0px 100px;
}

section.products-wrapper h2 {
  font-weight: 100;
}

p.promo {
  background: #393939;
  color: white;
  width: 90%;
  font-size: 45px;
  font-weight: 400;
  text-align: center;
  margin: auto;
  padding: 20px;
  margin-top: 100px;
  margin-bottom: 100px;
}
p.promo .bold {
  font-weight: 700;
}

.product {
  display: inline-block;
  width: 330px;
  height: 440px;
  /* padding: 20px 0px; */
  border-radius: 10px;
  box-shadow: 0 5px 9px -1px rgba(0, 0, 0, 0.25);
  margin: 20px;
  text-align: center;
  background-color: #ffffff;
  overflow: hidden;
}

.product__img {
  height: 17.5rem;
  margin: 20px;
}

.product__content {
  display: flex;
  background: #fff0ed;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.product__name {
  font-weight: lighter;
  font-size: 2rem;
  width: 100%;
  margin: 0px;
  text-align: left;
}

.product__subtitle {
  font-size: 1rem;
  color: grey;
}

.product__price {
  font-size: 1.5rem;
  color: #5bacc3;
  font-weight: bold;
}

.products-wrapper {
  text-align: center;
  background-color: lightgray;
  padding-bottom: 40px;
}
.products-wrapper h2 {
  margin-top: 0px;
  font-size: 3rem;
  padding-top: 40px;
}
.address {
  display: inline;
}
.hours {
  display: inline;
}
.social {
  display: inline;
}
.bold-add {
  font-weight: bolder;
}
.hero p {
  padding: 0px 100px;
  margin-right: 244px;
}

footer {
  text-align: center;
}
footer h3 {
  font-size: 2rem;
  font-weight: lighter;
}
footer > div {
  vertical-align: middle;
  text-align: left;
  display: inline-block;
  width: 20%;
  margin: 20px;
}
.hero2 {
  background-color: white;
  display: flex;
  align-items: center;
  padding-bottom: 40px;
  margin-top: 5rem;
}

.hero2__container {
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.hero2__title {
  font-size: 3rem;
  margin: 0px;
  padding: 0px 100px;
}

.hero2__img {
  margin-left: auto;
  display: block;
  margin-right: 200px;
}
.hero2__background__image {
  background-image: url("assets/coldbrewbackground.png");
}

.hero2__content {
  padding: 0px 390px 0px 100px;
}
.hero2__icon {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0px 390px 20px 100px;
}
.hero2__icon__size {
  width: 4rem;
}
