.background {
  width: 100%;
  height: 700px;
  background-position: center;
  background-size: cover;
  background-image: url(../assets/coffee-circle.jpg);
}
.products-section {
  width: 40%;
  margin: auto;
}
.products-section p {
  font-style: italic;
}
.products-section-wrapper.cold-drinks {
  background-color: #f7f7f7;
}
.products-section-wrapper.hot-drinks,
.products-section-wrapper.pastries {
  background-color: #fff0ed;
}

.subnav {
  background: #393939;
  height: 80px;
  text-align: center;
}
.subnav ul {
  padding: 25px 20px;
  margin: 0px;
}
.subnav li {
  font-size: 21px;
  font-weight: 400;
  list-style: none;
  display: inline;
  border-left: 4px solid #5bacc3;
  padding: 0px 20px;
}
.subnav li a {
  color: White;
  text-decoration: none;
}

.title-box {
  width: 300px;
  height: 200px;
  color: white;
  background-color: #393939;
  text-align: center;
  font-weight: 300;
  margin: auto;
}
BUTTON {
  font-size: 21px;
  font-weight: Regular 400;
}
h3 {
  font-size: 33px;
  font-weight: lighter;
  text-align: center;
}

h1 {
  font-size: 60px;
  font-weight: lighter;
}
h2 {
  font-size: 60px;
  font-weight: lighter;
  text-align: center;
  margin-top: 0px;
}
.price {
  text-align: center;
  color: #5bacc3;
}
